doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
		title CamiURV

	body
		h1 Benvinguts a CamiURV
		br
		br
		form(action="/cotxe" method="POST")
			input(id="nombre" name="nombre" type="text" placeholder="Escoge un nombre")
			br
			br
			input(id="evento" name="evento" type="text" placeholder="y un Evento")
			br
			br
			input(id="enviar" type="submit" value="Enviar")

