html(lang="es")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
		link(rel="stylesheet", href="estilos2.css")
		title CamiURV

	body
		h1 Llista dels solicitants
		div.border
		div.etiqueta
			img(src="Imagenes/usuari.png")
			h3 Juan Rodríguez
			p
				span Hora de sortida:
					span 08:15
				span Localització:
					span Vila-seca
			div.botones
				button.aceptar Acceptar
				button.revisar Revisar
				button.anular Anular
