doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
		title followMe

	body
		h1 Bienvenido a followMe
		br
		br
		form(action="/")
			input(id="nombre" type="text" placeholder="Escoge un nombre")
			br
			br
			input(id="evento" type="text" placeholder="y un Evento")
			br
			br
			input(id="enviar" type="button" value="Enviar")
		br
		input(id="stop" type="button" value="Stop")
		
		//- Requerimientos de los vendors
		script(src="//cdn.socket.io/socket.io-1.2.0.js")
		script(src="//code.jquery.com/jquery-1.11.1.js")
		
		//- Script principal
		script(type="text/javascript").
			var socket = io('/mapa');
			//https://infinite-tundra-1079.herokuapp.com
			var nick;
			var room;
			$('#enviar').on('click', function(){
				nick = $('#nombre').val();
				room = $('#evento').val();
				loc();
			});
			
			function loc(){
				if (navigator.geolocation){

					navigator.geolocation.watchPosition(succes, fail, options);

				}
				else {
					$('h1').innerHTML("Tu navegador no soporta geolocalización");
				}
			};
			//- Callback de ok, construccion del usuario y emision de eventos para añadir rooms al server y para enviar la localizacion
			function succes(pos){
				var cor = pos.coords;
				
				var user ={
						nick: nick,
						pos:{
							lat: cor.latitude,
							lng: cor.longitude
						}
					};
				socket.emit('addRoom', room);
				socket.emit('send loc', user);

			};
			//- manejo de errores
			function fail (err){
				console.log('ERROR(' + err.code + '): ' + err.message);
			};

			options = {
				enableHighAccuracy: true,
				timeout: 5000,
				maximumAge: 0
			};
			// Manejo de eventos en el cliente
			socket.on('disconnect', function(){
				socket.emit('removeRoom', room)
			});
