doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
		link(rel="stylesheet" href="estilos1.css")
		title Envio Pos

	body
		div#targetas
			
		
		//- Requerimientos de los vendors
		script(src="//cdn.socket.io/socket.io-1.2.0.js")
		script(src="//code.jquery.com/jquery-1.11.1.js")
		
		//- Script principal
		script(type="text/javascript").
			var socket = io('/mapa');
			//https://infinite-tundra-1079.herokuapp.com
			var nick;
			var room;
			$('#targetas').on('click', function(){
				nick = 'xavi';
				room = 'xavi';
				loc();
				socket.emit('addRoom', room);
			});
			
			function loc(){
				if (navigator.geolocation){

					navigator.geolocation.watchPosition(succes, fail, options);

				}
				else {
					$('h1').innerHTML("El teu Navegador no soporta geolocalització");
				}
			};
			//- Callback de ok, construccion del usuario y emision de eventos para añadir rooms al server y para enviar la localizacion
			function succes(pos){
				var cor = pos.coords;
				
				var user ={
						nick: nick,
						pos:{
							lat: cor.latitude,
							lng: cor.longitude
						}
					};
				socket.emit('send loc', user);

			};
			//- manejo de errores
			function fail (err){
				console.log('ERROR(' + err.code + '): ' + err.message);
			};

			options = {
				enableHighAccuracy: true,
				timeout: 5000,
				maximumAge: 0
			};
			// Manejo de eventos en el cliente
			socket.on('disconnect', function(){
				socket.emit('removeRoom', room)
			});
			$.getJSON('conductors.json', function (data) {

			var $div = $("#targetas");
			 for( var i = 0; i < data.length; i++ )
			 { 
			    var o = data[i];
				    var tmpl = '<div class="etiqueta"><img src="Imagenes/usuari.png"><h3>'+o.Nom+'</h3><p><span>Hora de sortida:</span>'+o.hora+'<br><span>Localització:</span>'+o.lat+','+o.lon+'</p><div class="botones"><button class="verde"> Solicitar</button><button class="rojo"> Anular</button></div></div>';
			    $div.append(tmpl);
			 }                   
			});
